<%- include("./partials/head") %>

  <body>

    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><i class="bi bi-person-fill-lock"></i>Login or Register</h1>
          <a href="/login" class="btn btn-light"><span class="bi bi-person-fill"></span>Local Login</a>
          <a href="/signup" class="btn btn-light"><span class="bi bi-person-fill"></span>Local Signup</a>
        </div>
      </div>
    </div>
    <%- include("./partials/footer") %>